@import "tailwindcss";

@theme {
  --color-gray: #707070;
  --color-white: #fff;
  --color-black: #1c1c1c;
}

@layer utilities {
  .font-libre {
    font-family: "Libre Caslon Text", serif;
  }

  .font-roboto {
    font-family: "Roboto", sans-serif;
  }

  .grid-pattern {
    background-image:
      linear-gradient(to right, #ccc 2px, transparent 2px),
      linear-gradient(to bottom, #ccc 2px, transparent 2px);
    background-size: 40px 40px;
  }

  .icon-line {
    @apply transition-all duration-300 ease-in-out;
  }

  .icon-top.open {
    transform: rotate(45deg) translateY(6px);
  }

  .icon-middle.open {
    opacity: 0;
  }

  .icon-bottom.open {
    transform: rotate(-45deg) translateY(-6px);
  }
  
  .max-h-toggle {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }

  .max-h-toggle.open {
    max-height: 500px; 
  }
}