@import "tailwindcss";

@theme {
    --color-gray: #595959;
    --color-white: #fff;
    --color-black: #1c1c1c;
}

@layer utilities {
  .font-libre {
    font-family: "Libre Caslon Text", serif;
  }
  
  .font-roboto {
    font-family: "Roboto", sans-serif;
  }
  
  .grid-pattern {
    background-image: 
      linear-gradient(to right, #ccc 2px, transparent 2px), 
      linear-gradient(to bottom, #ccc 2px, transparent 2px);
    background-size: 40px 40px;
  }

  @media (hover: hover) and (pointer: fine) {
    .hover-desktop-scale {
      @apply hover:scale-105 hover:text-gray-500 transition duration-300;
    }
  }

  @media (hover: none) and (pointer: coarse) {
    .mobile-active-scale {
      @apply active:scale-95 active:opacity-90 transition duration-100;
    }
  }
}